@model IEnumerable<Shop.ViewModels.ViewModels.CapBacVM>

@{
    ViewData["Title"] = "ShowAllCapBac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Tạo Mới</a>
</p>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cấp Bậc</h3>

        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ma)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoDiemCan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TrangThai)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ma)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDiemCan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrangThai)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>