@model IEnumerable<Shop.ViewModels.ViewModels.CTSanPhamVM>

@{
    ViewData["Title"] = "ShowAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> imageExtensions = new List<string>()
    {
        ".jpg", ".png", ".webp", ".gif", ".pdf", ".tiff", ".jpeg"
    };
}

<h1>ShowAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMauSac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGiamGia)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AnhBanDau)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaGiamGia)
            </td>
                @*<td>
                    @{
                        var extension = System.IO.Path.GetExtension(item.AnhBanDau);
                    }
                    @if (imageExtensions.Contains(extension))
                    {
                        <img src="~/Image/@item.a" height="30px">
                    }
                    else
                    {
                        <img src="~/Image/banner.png" height="30px">
                    }
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
